// ==================================================
// Pagination
// ==================================================

.pagination {
  position: relative;
  @extend .content-col;
  padding: 0;
  text-align: center;
}



.newer-posts {
  float: left;
}
.older-posts {

  float: right;
}


.read-next {
  @extend .content-col;
  margin-top: 0;
  padding: 0;

  .post {
    margin-top: 0;
    margin-bottom: 0;

    &:hover {
      box-shadow: 0 1px 6px rgba(50, 50, 50, 0.5);
    }

  }

  p {
    font-size: 1.8rem;
  }


}



.read-next-story:before {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.prev:before {
  content: 'Previous Post';

}
.next:before {
  content: 'Next Post';
}


@include respond-to(medium) {

 .read-next-story {
    display: block;
    width: calc(50% - 10px);
    vertical-align: top;

    &:nth-of-type(1) {
      float: left;
      margin-right: 10px;
    }
    &:nth-of-type(2) {
      float: right;
      margin-left: 10px;
    }
  }

}
