// ==================================================
// Pagination
// ==================================================

.pagination {
  position: relative;
  @extend .content-col;
  padding: 0;
  text-align: center;
}



.newer-posts {
  float: left;
}
.older-posts {

  float: right;
}


