// ==================================================
// Variables
// ==================================================

$gold: #BDB099;
$gold-hover: #D1C8B8;


$serif: 'Crimson Text', Georgia, sans-serif;
$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;