// ==================================================
// Post
// ==================================================



.posts {
  @extend .content-col;
  margin-top: 0;
  padding: 0;
}

.post {

  @extend .content-col;
  margin-bottom: 40px;
  @include font-size($p-font-sizes);
  word-wrap: break-word;
  background: #FFF;
  padding: 0;
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.5);
  transition: all 150ms ease;


  p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #333;
  }

  .post-template & {
    padding: 40px;
  }


  &:hover {
    box-shadow: 0 1px 6px rgba(50, 50, 50, 0.5);
  }
  .post-template .content &:hover {
    box-shadow: 0 1px 2px rgba(50, 50, 50, 0.5);
  }


}
  .post__anchor {
    display: block;
    padding: 20px;
    color: #333;

    &:hover {
      color: #333;
    }
    
    @include respond-to(small) {
      padding: 40px;
    }
  }
  .post__title {

    @include font-size($h3-font-sizes);

    .post-template & {

      @include font-size($h2-font-sizes);
      line-height: 1;
    }


    .featured &:before {
    content: 'Featured';
    display: block;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
    }
  }

  .post__meta {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;

    .post-template & {
      margin-bottom: 25px;
    }
  }

  .post__img {
    width: 100%;
    margin-bottom: 20px;
  }

  .post__content {
    width: 100%;


    h2 {

      @include font-size($h3-font-sizes);
    }
    h3 {

      font-weight: bold;
      @include font-size($h4-font-sizes);
    }

    h4 {
      font-weight: bold;
    }

    p {
      margin-bottom: 3rem;
    }

    img {
      display: block;
      max-width: 126%;
      height: auto;
      padding: 1rem 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }


    ul ul, ul ol, ol ul, ol ol {
      margin-bottom: 0;
    }

    ul, ol {
      margin-bottom: 3rem;
      list-style-position: outside;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }

    blockquote {
      margin: 2rem 0 2rem -2.2rem;
      padding: 0 0 0 2rem;
      border-left: #4A4A4A 0.2rem solid;
      @include font-size($h4-font-sizes);
      font-style: italic;
      font-weight: bold;
    }

    pre {
      margin-bottom: 20px;
    }

  }


.tags {
  margin-top: 40px;
}


.author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
}




.share {
  display: inline-block;
  width: 100%;

  text-align: center;
  margin-bottom: 3rem;

  &:before {
    content: " ";
    display: block;
    width: 40px;
    height: 1px;
    background: #E1E1E1;
    margin: 40px auto;
  }
}

  .icon-share {
    display: inline-block;
    margin-right: 1rem;

    svg {
      transition: all 150ms ease;
    }

    &:hover {
      svg {
        fill: $gold-hover;
      }
    }
  }




.post__author {
  position: relative;
  background: #f1f1f1;
  padding: 2rem;
}

.author__image {
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    margin-bottom: 20px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    z-index: 2;

  .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    box-shadow: 1px 1px 2px #666;
  }


  @include respond-to(medium) {
    float: left;
    width: 22%;
    max-width: 125px;
    margin-bottom: 0;
  }

}
.author__bio {
  float: left;

  @include respond-to(medium) {
    width: 78%;
    padding-left: 2rem;
  }
}


.inner__author {
  @extend .post__author;
}



#disqus_thread {
  margin-top: 40px;
}